* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 4rem;
    background-color: black;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}